<!-- enjoy_view_pablic_customers_liked_illustrations -->
  
  
  <div class="row">
    <div class="mx-auto auto col-11 col-sm10 col-lg col-xl-5">
      
        <!-- 色指定のスタイル -->
      <style>
       .example {
        background-color: #F0F0F0;
        width:400px;
        height:30px;
       }
      </style>
      
        <!-- サンプル画像,サンプル名,説明文,ジャンル -->
      <table width="450"  height="80">
        
      <h4 class="example" align="center">いいねした投稿(ブックマーク)</h4>
          
          <% @liked_illustrations.each do |post| %>
            <tr>
                <!-- タイトル -->
              <th>
               <%= post.name %> 
              </th>
                <!-- 画像 -->
              <td>
                <%= image_tag post.image, style: "max-width:200px;" %> 
              </td>
            </tr>
          <% end %>
      </table>
      
    </div>
      <!-- ページネイション -->
    <div class="d-flex justify-content-center">
      <%#= paginate @liked_illustrations, theme: 'bootstrap-5' %>
    </div>
  </div>
  
  