  <!-- enjoy_view_pablic_homes_about -->
  
  
  <div class="row">
    <div class="mx-auto auto col-md-9">
      <table width="800"  height="350">
          <!-- About -->
        <thead style="text-align: center;">
          <th class="example">
            <h2 style="font-size: 60px; letter-spacing: 0.2em;">About</h2>
          </th>
        </thead>
          <!--　紹介文 -->
        <tbody class="mt-3" style="text-align: center; margin-top: 30px; margin-bottom: 40px; letter-spacing: 0.1em;">
          <tr>
            <td>
              <h4>
                <p style="margin-bottom: 10px; letter-spacing: 0.1em;">絵を描いてみたいと思った大人から子供まで。</p>
                <p style="margin-top: 20px; margin-bottom: 20px; letter-spacing: 0.1em;">絵を描くのが好きでスキルアップを目指したい人。</p>
                <p style="margin-top: 20px; margin-bottom: 30px; letter-spacing: 0.1em;">自分の好きを知る、もっと楽しい創作を始めたい人へ。</p>
                <p style="margin-top: 20px; letter-spacing: 0.2em;">
                  <u style="font-size: 30px">☆お絵かきは楽しい☆</u>
                </p>
              </h4>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  