  <!-- enjoy_view_public_homes_top -->
  
    <!-- フラッシュメッセージ投稿成功時 -->
  <div>
    <%= flash[:notice] %>
  </div>
 
  <div class="row">
    <div class="mx-auto auto col-11 col-sm10 col-lg col-xl-9">
          
        <!-- 色指定のスタイル -->
      <style>
       .example {
        background-color: #F0F0F0;
        width:380px;
        height:30px;
       }
      </style>
        <!-- -->
      <table border="1" width="800"  height="50">
        
        <h4 class="example" align="center">顧客_トップ_public_top</h4>
        
          <!-- -->
        <thead class="example">
          <tr>
            <th>aaaaa</th>
            <th>bbbbb</th>
            <th>ccccc</th>
          </tr>
        </thead>
            
          <!--  -->
        <tbody>
        
        
        </tbody>
          
      </table>
          
    </div>
  </div>
  
  