  <!-- Enjoy_view_admin_genre_new -->
<h1>Enjoy_view_admin_genre_new</h1>

<div class="row">
  <div class="mx-auto auto col-11 col-sm10 col-lg col-xl-5">
       
  <h4 class="example" align="center">サンプル画像新規登録画面</h4>
    <%= form_with model: @genre, url: admin_genre_index_path, method: :post do |f| %>
     サンプル画像新規登録画面 
      <table width="400"  height="300">
      ジャンル名
        <tr>
          <th>ジャンル名</th>
            <td>
              <%= f.text_field :name %>
            </td>
        </tr>
           新規登録
        <tr>
          <td>
            <%= f.submit '新規登録', class:"btn btn-success" %>
          </td>
        </tr>
      </table>
    <% end %>
  </div>
</div>


<div>
  
</div>
<div>
  
</div>
<div>
  
</div>

<div>
  
</div>
<div>
  
  
</div>
<div>
  
</div>
<div>
  
</div>
<div>
  
</div>

<div>
  
</div>
<div>
  
</div>

<div>
  
</div>

<div>
  
</div>

<div>
  
</div>

<div>
  
</div>

<div>
  
</div>

<div>
  
</div>

<div>
  
</div>

<div>
  
</div>

<div>
  
</div>

<div>
  
</div>

<div>
  
</div>

<div>
  
</div>

<div>
  
</div>
<div>
  
</div>

<div>
  
</div>

<div>
  
</div>

<div>
  
</div>

<div>
  
</div>
<div>
  
</div>

<div>
  
</div>



